{% comment %}
  Floating Sticker Snippet
  Usage: {% render 'floating-sticker', sticker_type: 'stars', custom_class: 'my-custom-class' %}

  Parameters:
  - sticker_type: 'stars', 'sun-blue', 'sun-pink', or 'none'
  - custom_class: optional CSS class to add to the sticker
{% endcomment %}

{% assign sticker_color = color | default: '#000000' %}

<div class="brand-sticker">
  {% if sticker_type == 'stars' %}
    <svg
      fill="none"
      height="100%"
      width="100%"
      viewBox="0 0 111 110"
      width="111"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g fill="{{ sticker_color }}" stroke="#000" fill="{{sticker_color}}" stroke-width="2">
        <path fill="{{sticker_color}}" d="m95.9404 16.8057-.0003.0004c-2.4395 4.419-3.6745 8.1053-3.5607 11.899.1136 3.7835 1.5651 7.5322 4.2013 12.0831v.0001l.0055.0092c.5126.8634-.4799 1.8559-1.3433 1.3433l-.0066-.0039c-4.6622-2.7196-8.4872-4.1898-12.3777-4.2375-3.894-.0477-7.703 1.3313-12.3309 3.9853-1.039.5848-2.0769-.5582-1.5218-1.5019v.0001l.0055-.0095c2.6553-4.6295 4.0348-8.4394 3.9871-12.341-.0476-3.8963-1.5172-7.7346-4.2362-12.4233l-.0028-.0048c-.492-.8379.4797-1.8096 1.3176-1.3176l.0043.0026c4.5638 2.6495 8.326 4.1151 12.1164 4.236 3.8018.1212 7.489-1.1143 11.8958-3.5685 1.2047-.6642 2.5124.6443 1.8468 1.8489z"/>
        <path fill="{{sticker_color}}" d="m77.9044 69.0556v-.0001l-.0129.003c-11.9912 2.7605-19.8123 5.9556-25.2877 11.7955-5.4624 5.8261-8.4587 14.1474-11.1787 26.799-.1769.787-1.3312.787-1.509.001-2.7538-12.9224-5.8021-21.3395-11.5061-27.1959-5.7088-5.8612-13.9394-9.017-26.66054-11.8078-.999223-.2386-.999279-1.6828-.00017-1.9215 12.75301-2.7903 21.00201-5.9288 26.72011-11.7993 5.7133-5.8657 8.7612-14.318 11.5147-27.3412.1781-.7847 1.2636-.7844 1.4409.001 2.7195 12.7177 5.6982 21.0731 11.1513 26.9251 5.4667 5.8666 13.2885 9.0792 25.3132 11.8737l.0074.0017.0075.0016c1.4608.316 1.4608 2.3482 0 2.6642z"/>
      </g>
    </svg>
  {% elsif sticker_type == 'sun-blue' %}
    <svg
      fill="none"
      height="100%"
      width="100%"
      viewBox="0 0 110 110"
      width="110"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="m90.1721 54.1419-1.4342.8581 1.4342.8581c7.5878 4.54 12.7459 8.9313 15.7219 12.7732 3.008 3.8831 3.623 6.9671 2.724 9.0694-.898 2.1-3.538 3.7618-8.364 4.2342-4.7742.4674-11.4072-.2727-19.745-2.6627l-1.7338-.497.497 1.7338c2.39 8.3378 3.1301 14.9708 2.6627 19.745-.4724 4.826-2.1342 7.466-4.2342 8.364-2.1023.899-5.1863.284-9.0694-2.724-3.8419-2.976-8.2332-8.1341-12.7732-15.7219l-.8581-1.4343-.8581 1.4343c-4.54 7.5878-8.9313 12.7459-12.7732 15.7219-3.8831 3.008-6.9671 3.623-9.0694 2.724-2.1-.898-3.7618-3.538-4.2342-8.364-.4673-4.7742.2727-11.4072 2.6627-19.745l.497-1.7338-1.7338.497c-8.3378 2.39-14.9708 3.1301-19.74529 2.6627-4.82569-.4724-7.46604-2.1342-8.3638-4.2342-.898744-2.1023-.28401-5.1863 2.7242-9.0694 2.97631-3.8419 8.13399-8.2332 15.72179-12.7732l1.4343-.8581-1.4343-.8581c-7.5878-4.54-12.74548-8.9313-15.72179-12.7732-3.00821-3.8831-3.622944-6.9671-2.7242-9.0694.89776-2.1 3.53811-3.7618 8.3638-4.2342 4.77449-.4673 11.40749.2727 19.74529 2.6627l1.7338.497-.497-1.7338c-2.39-8.3378-3.13-14.9708-2.6627-19.74529.4724-4.82569 2.1342-7.46604 4.2342-8.3638 2.1023-.898744 5.1863-.28401 9.0694 2.7242 3.8419 2.97631 8.2332 8.13399 12.7732 15.72179l.8581 1.4343.8581-1.4343c4.54-7.5878 8.9313-12.74548 12.7732-15.72179 3.8831-3.00821 6.9671-3.622944 9.0694-2.7242 2.1.89776 3.7618 3.53811 4.2342 8.3638.4674 4.77449-.2727 11.40749-2.6627 19.74529l-.497 1.7338 1.7338-.497c8.3378-2.39 14.9708-3.13 19.745-2.6627 4.826.4724 7.466 2.1342 8.364 4.2342.899 2.1023.284 5.1863-2.724 9.0694-2.976 3.8419-8.1341 8.2332-15.7219 12.7732z" fill="{{sticker_color}}" stroke="#000" stroke-width="2"/>
    </svg>
  {% elsif sticker_type == 'sun-pink' %}
    <svg
      fill="none"
      height="100%"
      width="100%"
      viewBox="0 0 110 110"
      width="110"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="m109 55c0 1.2865-.653 2.5312-1.872 3.8239-1.22 1.294-2.899 2.523-4.734 3.7777-.413.2827-.835.5672-1.26.8536-1.4244.9603-2.8798 1.9414-4.1407 2.9451-1.6276 1.2955-3.0876 2.7448-3.7843 4.4246-.7153 1.7241-.7358 3.8112-.5197 5.9084.175 1.6983.5204 3.5163.8559 5.2819.0808.4255.161.8479.2382 1.2648.4046 2.1869.7261 4.232.6884 5.9892-.0378 1.7596-.4331 3.0566-1.2895 3.9131-.8565.8564-2.1535 1.2517-3.9131 1.2895-1.7572.0377-3.8023-.2838-5.9892-.6884-.4169-.0772-.8393-.1574-1.2648-.2382-1.7656-.3355-3.5836-.6809-5.2819-.8559-2.0972-.2161-4.1843-.1956-5.9084.5197-1.6798.6967-3.1291 2.1567-4.4246 3.7843-1.0037 1.2609-1.9848 2.7163-2.9451 4.1407-.2864.425-.5709.847-.8536 1.26-1.2547 1.835-2.4837 3.514-3.7777 4.734-1.2927 1.219-2.5374 1.872-3.8239 1.872s-2.5312-.653-3.8239-1.872c-1.294-1.22-2.523-2.899-3.7777-4.734-.2827-.413-.5672-.835-.8536-1.26-.9603-1.4244-1.9414-2.8798-2.9451-4.1407-1.2955-1.6276-2.7448-3.0876-4.4246-3.7843-1.7241-.7153-3.8112-.7358-5.9084-.5197-1.6983.175-3.5163.5204-5.2819.8559-.4255.0808-.8479.161-1.2648.2382-2.1869.4046-4.232.7261-5.9892.6884-1.7596-.0378-3.0566-.4331-3.9131-1.2895-.8564-.8565-1.2517-2.1535-1.2895-3.9131-.0377-1.7572.2838-3.8023.6884-5.9892.0772-.417.1574-.8394.2383-1.2649.3354-1.7656.6808-3.5836.8558-5.2818.2161-2.0972.1956-4.1844-.5198-5.9086-.6967-1.6796-2.1566-3.1289-3.7842-4.4244-1.2609-1.0037-2.7163-1.9847-4.14089-2.9451-.42479-.2863-.84683-.5708-1.26017-.8536-1.83456-1.2547-3.51344-2.4837-4.73348-3.7777-1.21881-1.2927-1.87216-2.5374-1.87216-3.8239s.65335-2.5312 1.87216-3.8239c1.22004-1.294 2.89892-2.523 4.73348-3.7777.41334-.2828.83539-.5673 1.26017-.8536 1.42459-.9604 2.87999-1.9414 4.14089-2.9451 1.6276-1.2955 3.0875-2.7448 3.7842-4.4244.7154-1.7242.7359-3.8114.5198-5.9086-.175-1.6982-.5204-3.5162-.8558-5.2818-.0809-.4255-.1611-.8479-.2383-1.2649-.4046-2.1869-.7261-4.232-.6884-5.9892.0378-1.7596.4331-3.0566 1.2895-3.9131.8565-.8564 2.1535-1.2517 3.9131-1.2895 1.7572-.0377 3.8023.2838 5.9892.6884.417.0772.8394.1574 1.2649.2383 1.7656.3354 3.5836.6808 5.2818.8558 2.0972.2161 4.1844.1956 5.9086-.5198 1.6796-.6967 3.1289-2.1566 4.4244-3.7842 1.0037-1.2609 1.9847-2.7163 2.9451-4.14089.2863-.42479.5708-.84683.8536-1.26017 1.2547-1.83456 2.4837-3.51344 3.7777-4.73348 1.2927-1.21881 2.5374-1.87216 3.8239-1.87216s2.5312.65335 3.8239 1.87216c1.294 1.22004 2.523 2.89892 3.7777 4.73348.2828.41334.5673.83539.8536 1.26017.9604 1.42459 1.9414 2.87999 2.9451 4.14089 1.2955 1.6276 2.7448 3.0875 4.4244 3.7842 1.7242.7154 3.8114.7359 5.9086.5198 1.6982-.175 3.5162-.5204 5.2818-.8558.4255-.0809.8479-.1611 1.2649-.2383 2.1869-.4046 4.232-.7261 5.9892-.6884 1.7596.0378 3.0566.4331 3.9131 1.2895.8564.8565 1.2517 2.1535 1.2895 3.9131.0377 1.7572-.2838 3.8023-.6884 5.9892-.0772.4169-.1574.8393-.2382 1.2648-.3355 1.7656-.6809 3.5836-.8559 5.2819-.2161 2.0972-.1956 4.1843.5197 5.9084.6967 1.6798 2.1567 3.1291 3.7843 4.4246 1.2609 1.0037 2.7163 1.9848 4.1407 2.9451.425.2864.847.5709 1.26.8536 1.835 1.2547 3.514 2.4837 4.734 3.7777 1.219 1.2927 1.872 2.5374 1.872 3.8239z" fill="{{sticker_color}}" stroke="#000" stroke-width="2"/>
    </svg>
  {% endif %}
</div>
