<section class="ticker-container bg-wine-dark text-white fs-40 type-link">
  <div class="ticker">
    <span>{{ 'hae.copy.ticker' | t }}</span>
    <span style="color: #FDF130;">☀</span>
    <span>{{ 'hae.copy.ticker' | t }}</span>
    <span style="color: #AEC1FB;">☺</span>
    <span>{{ 'hae.copy.ticker' | t }}</span>
    <span style="color: #EFBDFC;">♥</span>
    <span>{{ 'hae.copy.ticker' | t }}</span>
    <span style="color: #FF8A64;">☀</span>
    <span>{{ 'hae.copy.ticker' | t }}</span>
    <span style="color: #FDF130;">☺</span>
    <span>{{ 'hae.copy.ticker' | t }}</span>
    <span style="color: #AEC1FB;">♥</span>
  </div>
</section>
