<link
  rel='stylesheet'
  href='{{ 'forms.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>
<link
  rel='stylesheet'
  href='{{ 'template-password.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>

<!-- Password Content Section -->
<section class='template-password-screen color-{{ section.settings.color_scheme }}'>
  <div class='template-password-screen_bg'>
    {%- if section.settings.bg_image != blank -%}
      <img
        srcset='
          {%- if section.settings.bg_image_mobile != blank -%}
            {{ section.settings.bg_image_mobile | image_url: width: 375 }} 375w,
            {{ section.settings.bg_image_mobile | image_url: width: 550 }} 550w,
            {{ section.settings.bg_image_mobile | image_url: width: 800 }} 800w,
          {%- endif -%}
          {{ section.settings.bg_image | image_url: width: 1000 }} 1000w,
          {{ section.settings.bg_image | image_url: width: 1400 }} 1400w,
          {{ section.settings.bg_image | image_url: width: 1800 }} 1800w
        '
        sizes='
          (max-width: 375px) 375px,
          (max-width: 550px) 550px,
          (max-width: 767px) 800px,
          (max-width: 1000px) 1000px,
          (max-width: 1400px) 1400px,
          1800px
        '
        src='{{ section.settings.bg_image | image_url: width: 1400 }}'
        alt='{{ section.settings.bg_image.alt | escape }}'
        width='100%'
        height='100%'
        loading='lazy'
      >
    {%- endif -%}
  </div>

  <div class='template-password-screen__container container-full section-padding-small'>
    <div class='template-password-screen_header'>
      <div class='template-password-screen_header_logo'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 166 29'
          fill='none'
          preserveAspectRatio='xMaxYMin'
        >
          <path d="M0 2.02186H7.60984L20.7411 16.1941C21.4846 17.0025 22.2276 18.0578 22.7232 19.0424H22.8648V2.02186H29.342V26.9893H22.2276L8.60089 12.6417C7.89314 11.8679 6.97266 10.6018 6.61879 9.7934H6.47714V26.9888H0V2.02186Z" fill="currentColor"/>
          <path d="M34.3203 14.3875C34.3203 6.42454 40.7127 1.28214 49.8953 1.28214C58.9766 1.28214 65.4704 6.42454 65.4704 14.3875C65.4704 22.3504 58.9766 27.4937 49.8953 27.4937C40.7127 27.4937 34.3203 22.3514 34.3203 14.3875ZM57.81 14.3875C57.81 10.3554 54.7153 6.97871 49.8958 6.97871C45.0254 6.97871 41.9811 10.3558 41.9811 14.3875C41.9811 18.4191 45.0254 21.7977 49.8958 21.7977C54.7153 21.7977 57.81 18.4205 57.81 14.3875Z" fill="currentColor"/>
          <path d="M99.0061 26.4351V26.9893H91.6497C91.4468 26.0825 91.1929 24.9231 90.99 23.5113H90.7366C89.8739 24.8223 87.5404 27.4938 81.5539 27.4938C75.0601 27.4938 69.3779 24.6202 69.3779 16.2535V1.78715H76.9373V14.3373C76.9373 19.5299 79.1694 21.9993 83.3806 21.9993C87.6418 21.9993 90.6861 19.0755 90.6861 13.582V1.78715H98.1945V19.0249C98.1945 22.3514 98.4483 25.3258 99.0061 26.4351Z" fill="currentColor"/>
          <path d="M116.51 6.67631C114.379 6.67631 111.487 7.02888 111.487 8.89349C111.487 10.6578 113.871 10.7581 118.234 11.3639C126.656 12.4722 130.207 15.3453 130.207 19.8819C130.207 25.6277 123.561 27.4933 117.778 27.4933C110.066 27.4933 104.232 24.9221 103.268 19.4787L110.523 18.6718C111.334 21.394 114.734 22.0991 117.321 22.0991C119.655 22.0991 122.952 21.7967 122.952 19.9321C122.952 18.1177 120.669 17.2601 116.864 16.7566C109.052 15.7481 104.181 13.9838 104.181 9.19541C104.181 3.5003 110.371 1.28167 116.56 1.28167C123.612 1.28167 129.294 4.00383 130.207 9.04445L122.902 9.85135C122.039 7.38096 118.996 6.67583 116.51 6.67583V6.67631Z" fill="currentColor"/>
          <path d="M155.275 0L154.188 10.7625L164.981 7.62983L166 14.9685L156.135 15.7671L162.695 24.3694L156.146 27.9686L151.549 18.8764L147.665 28.0129L140.814 24.6041L147.145 15.8835L137.334 15.1983L138.386 7.90789L148.998 10.8438L147.71 0.103237L155.275 0.0336009V0Z" fill="currentColor"/>
        </svg>
      </div>
      <div class='template-password-screen_header_title'>
        {{ section.settings.header_title }}
      </div>
    </div>

    <div class='template-password-screen_content'>
      <h2 class='template-password-screen__heading {{ section.settings.heading_size }}'>
        {{ section.settings.newsletter_form_heading | escape }}
      </h2>
      {% if section.settings.newsletter_form_subheading != blank %}
        <div class='template-password-screen__subheading rte {{ section.settings.subheading_size }}'>
          {{ section.settings.newsletter_form_subheading }}
        </div>
      {% endif %}
      {% unless shop.password_message == blank %}
        <div class='template-password-screen__message'>
          {{ shop.password_message }}
        </div>
      {% endunless %}

      {% if section.settings.newsletter_enable %}
        <div class='template-password-screen__newsletter'>
          <div
            class='klaviyo-form-{{ section.settings.klaviyo_form_id }}'
          ></div>
          <div class='template-password-screen__newsletter_subheading'>
            {{ section.settings.form_subline_text }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% javascript %}
  // Fix for Safari mobile viewport height
  function setViewportHeight() {
    document.documentElement.style.setProperty(
      '--vh',
      `${window.innerHeight * 0.01}px`
    );
  }

  setViewportHeight();

  ['resize', 'orientationchange'].forEach(event => {
    window.addEventListener(event, setViewportHeight);
  });
{% endjavascript %}

{% schema %}
{
  "name": "Password Page",
  "settings": [
    {
      "type": "header",
      "content": "Page Text"
    },
    {
      "type": "text",
      "id": "header_title",
      "label": "Header Title",
      "default": "Redefining the Nous Standard™"
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Heading",
      "default": "Be the first to know when we launch."
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        {
          "value": "headline-style-h1",
          "label": "H1"
        },
        {
          "value": "headline-style-h2",
          "label": "H2"
        },
        {
          "value": "headline-style-h3",
          "label": "H3"
        },
        {
          "value": "headline-style-h4",
          "label": "H4"
        },
        {
          "value": "headline-style-h5",
          "label": "H5"
        },
        {
          "value": "headline-style-h6",
          "label": "H6"
        }
      ],
      "default": "headline-style-h3"
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": "Subheading",
      "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
    },
    {
      "type": "select",
      "id": "subheading_size",
      "label": "Subheading size",
      "options": [
        {
          "value": "text-size-small",
          "label": "Small"
        },
        {
          "value": "text-size-main",
          "label": "Medium"
        },
        {
          "value": "text-size-large",
          "label": "Large"
        },
        {
          "value": "text-size-x-large",
          "label": "X-Large"
        },
        {
          "value": "text-size-xx-large",
          "label": "XX-Large"
        }
      ],
      "default": "text-size-main"
    },
    {
      "type": "header",
      "content": "Newsletter Signup"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "klaviyo_form_id",
      "label": "Klaviyo Form ID",
      "info": "Add the Klaviyo form ID to the newsletter form",
      "default": "UQJuZt"
    },
    {
      "type": "richtext",
      "id": "form_subline_text",
      "label": "Form Subline Text",
      "default": "<p>Calling creators</p>"
    },
    {
      "type": "header",
      "content": "Page Style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Newsletter Image"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Newsletter Image Mobile"
    }
  ],
  "presets": [
    {
      "name": "Password Content",
      "category": "Templates & Pages"
    }
  ]
}
{% endschema %}
